@page "/learnBlazor/ParentComponent"
@rendermode InteractiveServer

<h3>Parent Child Relation</h3>

<_ChildComponent Title="This title is passed as parameter from Parent Component"> Render Fragment From Parent! Woohoo!</_ChildComponent>

<h3>Parent Child Relation</h3>

<_ChildComponent Title="This title is passed as parameter from Parent Component"></_ChildComponent>

@code {

}
